<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace = 接口的全限定名（代理CRUD的约定之一） -->
<mapper namespace="com.neu.mapper.UserMapper">

    <!-- 查询所有：resultType 使用别名 userVO -->
    <select id="findAll" resultType="userVO">
        SELECT id, name, address FROM user
    </select>

    <!-- 按id查询：8大基本数据类型 #{xxx} 参数名可随便写 -->
    <select id="findById" resultType="userVO">
        SELECT id, name, address FROM user WHERE id = #{xxxx}
    </select>

    <!-- 新增：parameterType 使用别名 user -->
    <insert id="add" parameterType="user">
        INSERT INTO user(name, address) VALUES(#{name}, #{address})
    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="user">
        UPDATE user SET address = #{address} WHERE id = #{id}
    </update>

    <!-- 按id删除 -->
    <delete id="deleteById" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>
